
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}

    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="max-width: 270px" src="../media/martin.jpg" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Martín Facundo Roldán</h5>
                  <p class="card-text">Mi nombre es Martín, tengo 23 años y soy Analista de sistemas. <br>Trabajo actualmente en el Gobierno de la Ciudad de Buenos Aires como Soporte Técnico en el area de Dirección General de Gestión Documental en la Secretaría de Innovación y Transformación Digital. <br>Me interesó el curso de Python ya que pretendo aprender nuevos lenguajes de programación para mejorar profesionalmente mis conocimientos.</p>
                </div>
              </div>
            </div>
          </div>

    </div> 

    {% endblock %}

